In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import matplotlib.cm as cm
from matplotlib.colors import Normalize
from matplotlib import gridspec

In [3]:
cshapes = pd.read_csv("../Data/CShapes/country_shapes.csv")

In [4]:
ucdp = pd.read_csv("../Data/UCDP-PRIO_ArmedConflict/participants_gw.csv")

In [5]:
sorted_conflict_counts = ucdp.groupby("gw_id")[["conflict_id"]].count().sort_values(by=['conflict_id'])

In [6]:
top = sorted_conflict_counts.tail(20).sort_values(by=['conflict_id'], ascending=False)
bottom = sorted_conflict_counts.head(20).sort_values(by=['conflict_id'], ascending=False)
top.rename(columns={"conflict_id":"number_of_conflicts"},inplace=True)
bottom.rename(columns={"conflict_id":"number_of_conflicts"},inplace=True)
print(top)
print(bottom)

       number_of_conflicts
gw_id
775                    278
750                    201
530                    148
200                    118
840                    116
2                      116
220                    112
770                     94
666                     85
365                     81
645                     75
483                     73
630                     67
700                     66
640                     65
625                     59
235                     58
500                     57
100                     57
850                     55
       number_of_conflicts
gw_id
41                       3
150                      3
145                      3
95                       2
581                      2
42                       2
570                      1
55                       1
571                      1
352                      1
130                      1
703                      1
740                      1
94                       1
115                      1
481                      1
155                      1
315                      1
165                      1
52                       1

In [7]:
top_full = top.merge(cshapes, left_on="gw_id", right_on="gw_code")
bottom_full = bottom.merge(cshapes, left_on="gw_id", right_on="gw_code")
top_full

,number_of_conflicts,area,capital_lat,capital_long,capital_name,country_name,cow_code,cow_endday,cow_endmonth,cow_endyear,...,gw_endday,gw_endmonth,gw_endyear,gw_startday,gw_startmonth,gw_startyear,iso_alpha2,iso_alpha3,iso_name,iso_num
0,278,6.703721e+05,16.783330,96.166660,Yangon,Myanmar,775,30,6,2016,...,30,6,2016,4,1,1948,MM,MMR,Myanmar,104
1,201,3.166803e+06,28.600000,77.200000,New Delhi,India,750,30,6,2016,...,30,6,2016,1,1,1949,IN,IND,India,356
2,201,3.060681e+06,28.600000,77.200000,New Delhi,India,750,31,12,1948,...,31,12,1948,15,8,1947,NaN,NaN,NaN,0
3,148,1.134773e+06,9.033333,38.700000,Addis Ababa,Ethiopia,530,30,6,2016,...,30,6,2016,24,5,1993,ET,ETH,Ethiopia,231
4,148,1.256379e+06,9.033333,38.700000,Addis Ababa,Ethiopia,530,22,5,1993,...,23,5,1993,1,1,1946,ET,ETH,Ethiopia,230
5,118,2.438451e+05,51.500000,-0.116667,London,United Kingdom,200,30,6,2016,...,30,6,2016,1,1,1946,GB,GBR,United Kingdom,826
6,116,2.942016e+05,14.604170,121.000000,Manila,Philippines,840,30,6,2016,...,30,6,2016,4,7,1946,PH,PHL,Philippines,608
7,116,9.468306e+06,38.895000,-77.000000,Washington,United States,2,30,6,2016,...,30,6,2016,1,1,1946,US,USA,United States,840
8,112,5.478713e+05,48.866660,2.333333,Paris,France,220,30,6,2016,...,30,6,2016,1,1,1946,FR,FRA,France,250
9,94,8.794929e+05,33.700000,73.166660,Islamabad,Pakistan,770,30,6,2016,...,30,6,2016,16,12,1971,PK,PAK,Pakistan,586
10,94,1.017998e+06,33.700000,73.166660,Islamabad,Pakistan,770,15,12,1971,...,15,12,1971,1,1,1949,NaN,NaN,NaN,0
11,94,9.361354e+05,33.700000,73.166660,Islamabad,Pakistan,770,31,12,1948,...,31,12,1948,14,8,1947,NaN,NaN,NaN,0
12,85,2.078396e+04,31.779170,35.223610,Jerusalem,Israel,666,31,5,1967,...,31,5,1967,14,5,1948,NaN,NaN,NaN,0
13,85,2.815960e+04,31.779170,35.223610,Jerusalem,Israel,666,30,6,2016,...,30,6,2016,1,5,1979,IL,ISR,Israel,376
14,85,8.893222e+04,31.779170,35.223610,Jerusalem,Israel,666,30,4,1979,...,30,4,1979,1,6,1967,IL,ISR,Israel,376
15,81,1.682720e+07,55.752220,37.615550,Moscow,Russia,365,30,6,2016,...,30,6,2016,21,12,1991,RU,RUS,Russian Federation,643
16,81,2.200891e+07,55.752220,37.615550,Moscow,USSR,365,5,9,1991,...,24,8,1991,1,1,1946,SU,SUN,Union of Soviet Socialist Republics,810
17,81,2.180159e+07,55.752220,37.615550,Moscow,USSR,-1,-1,-1,-1,...,26,8,1991,25,8,1991,SU,SUN,Union of Soviet Socialist Republics,810
18,81,2.176792e+07,55.752220,37.615550,Moscow,USSR,-1,-1,-1,-1,...,30,8,1991,27,8,1991,SU,SUN,Union of Soviet Socialist Republics,810
19,81,2.112122e+07,55.752220,37.615550,Moscow,USSR,-1,-1,-1,-1,...,5,9,1991,31,8,1991,SU,SUN,Union of Soviet Socialist Republics,810
20,81,2.087609e+07,55.752220,37.615550,Moscow,USSR,-1,-1,-1,-1,...,8,9,1991,6,9,1991,SU,SUN,Union of Soviet Socialist Republics,810
21,81,2.073345e+07,55.752220,37.615550,Moscow,USSR,-1,-1,-1,-1,...,26,10,1991,9,9,1991,SU,SUN,Union of Soviet Socialist Republics,810
22,81,2.026111e+07,55.752220,37.615550,Moscow,USSR,-1,-1,-1,-1,...,30,11,1991,27,10,1991,SU,SUN,Union of Soviet Socialist Republics,810
23,81,1.966415e+07,55.752220,37.615550,Moscow,USSR,-1,-1,-1,-1,...,15,12,1991,1,12,1991,SU,SUN,Union of Soviet Socialist Republics,810
24,81,1.694295e+07,55.752220,37.615550,Moscow,USSR,-1,-1,-1,-1,...,20,12,1991,16,12,1991,SU,SUN,Union of Soviet Socialist Republics,810
25,75,4.374627e+05,33.338610,44.393890,Baghdad,Iraq,645,30,6,2016,...,30,6,2016,1,1,1946,IQ,IRQ,Iraq,368
26,73,1.279119e+06,11.716670,15.216670,N'Djamena,Chad,483,31,12,1972,...,31,12,1972,11,8,1960,NaN,NaN,NaN,0
27,73,1.161920e+06,11.716670,15.216670,N'Djamena,Chad,483,30,6,2016,...,30,6,2016,1,1,1973,TD,TCD,Chad,148
28,67,1.626150e+06,35.671940,51.424450,Tehran,Iran,630,30,6,2016,...,30,6,2016,1,1,1946,IR,IRN,"Iran, Islamic Republic of",364
29,66,6.435571e+05,34.516670,69.183330,Kabul,Afghanistan,700,30,6,2016,...,30,6,2016,1,1,1946,AF,AFG,Afghanistan,4
30,65,7.810792e+05,39.927220,32.864440,Ankara,Turkey,640,30,6,2016,...,30,6,2016,1,1,1946,TR,TUR,Turkey,792
31,59,2.501656e+06,15.588060,32.534170,Khartoum,Sudan,625,8,7,2011,...,8,7,2011,1,1,1956,SD,SDN,Sudan,736
32,59,1.870245e+06,15.588060,32.534170,Khartoum,Sudan,625,30,6,2016,...,30,6,2016,9,7,2011,SD,SDN,Sudan,729
33,58,9.202659e+04,38.716670,-9.133333,Lisbon,Portugal,235,30,6,2016,...,30,6,2016,1,1,1946,PT,PRT,Portugal,620
34,57,2.437028e+05,0.315556,32.565560,Kampala,Uganda,500,30,6,2016,...,30,6,2016,9,10,1962,UG,UGA,Uganda,800
35,57,1.142726e+06,4.600000,-74.100000,Bogota,Colombia,100,30,6,2016,...,30,6,2016,1,1,1946,CO,COL,Colombia,170
36,55,1.478049e+06,-6.174444,107.000000,Jakarta,Indonesia,850,30,4,1963,...,30,4,1963,1,1,1946,NaN,NaN,NaN,0
37,55,1.890542e+06,-6.174444,107.000000,Jakarta,Indonesia,850,30,6,1976,...,30,6,1976,1,5,1963,ID,IDN,Indonesia,360
38,55,1.905681e+06,-6.174444,107.000000,Jakarta,Indonesia,850,26,9,2002,...,19,5,2002,1,7,1976,ID,IDN,Indonesia,360
39,55,1.890542e+06,-6.174444,107.000000,Jakarta,Indonesia,850,30,6,2016,...,30,6,2016,20,5,2002,ID,IDN,Indonesia,360

In [8]:
sorted_counts_full = sorted_conflict_counts.merge(cshapes, left_on="gw_id", right_on="gw_code")

In [9]:
sorted_counts_full.rename(columns={"conflict_id":"number_of_conflicts"},inplace=True)

In [10]:
sorted_counts_full

,number_of_conflicts,area,capital_lat,capital_long,capital_name,country_name,cow_code,cow_endday,cow_endmonth,cow_endyear,...,gw_endday,gw_endmonth,gw_endyear,gw_startday,gw_startmonth,gw_startyear,iso_alpha2,iso_alpha3,iso_name,iso_num
0,1,2.570267e+05,-0.216667,-78.50000,Quito,Ecuador,130,30,6,2016,...,30,6,2016,1,1,1946,EC,ECU,Ecuador,218
1,1,3.062143e+04,-29.300000,27.48333,Maseru,Lesotho,570,30,6,2016,...,30,6,2016,4,10,1966,LS,LSO,Lesotho,426
2,1,1.783572e+05,-34.900000,-56.20000,Montevideo,Uruguay,165,30,6,2016,...,30,6,2016,1,1,1946,UY,URY,Uruguay,858
3,1,1.275531e+05,50.083330,14.46667,Prague,Czechoslovakia,315,31,12,1992,...,31,12,1992,1,1,1946,CS,CSK,Czechoslovakia,200
4,1,7.458085e+05,-33.500000,-70.70000,Santiago,Chile,155,30,6,2016,...,30,6,2016,1,1,1946,CL,CHL,Chile,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,148,1.134773e+06,9.033333,38.70000,Addis Ababa,Ethiopia,530,30,6,2016,...,30,6,2016,24,5,1993,ET,ETH,Ethiopia,231
199,148,1.256379e+06,9.033333,38.70000,Addis Ababa,Ethiopia,530,22,5,1993,...,23,5,1993,1,1,1946,ET,ETH,Ethiopia,230
200,201,3.166803e+06,28.600000,77.20000,New Delhi,India,750,30,6,2016,...,30,6,2016,1,1,1949,IN,IND,India,356
201,201,3.060681e+06,28.600000,77.20000,New Delhi,India,750,31,12,1948,...,31,12,1948,15,8,1947,NaN,NaN,NaN,0
202,278,6.703721e+05,16.783330,96.16666,Yangon,Myanmar,775,30,6,2016,...,30,6,2016,4,1,1948,MM,MMR,Myanmar,104

In [12]:
top_full.to_csv("landarea-conflict-top_full.csv")
bottom_full.to_csv("landarea-conflict-bottom_full.csv")
sorted_counts_full.to_csv("landarea-conflict-sorted_counts_full.csv")